<%= div_for @client do %>
	<div class='h2'>
		<%= link_to "#{@client.first_name} #{@client.last_name}", client_path(@client) %>
	</div>
	<div>
		MEDA Client
	</div>
	<div>
		<%= @client.email %>
	</div>
	<div>
		<%= @client.phone %>
	</div>
	<div>
		<%= @client.contact_id %>
	</div>
	<div>
		<%= @client.salesforce_id %>
	</div>
	<div>
		<%= link_to "edit", edit_client_path(@client) %>
	</div>	
<% end %>

