<div class="sidebar">
	<%= div_for @client do%>
		<h2>
			<%= link_to "#{@client.first_name} #{@client.last_name}", edit_client_path(@client) %>
		</h2>

		<h3>
			MEDA Client
		</h3>
		<h3>
			<%= @client.email %>
		</h3>
		<h3>
			<%= @client.phone %>
		</h3>
		<div>
			<%= @client.contact_id %>
		</div>
		<h3>
			<%= @client.salesforce_id %>
		</h3>
		<h4>
			<%= link_to "edit", edit_client_path(@client) %>
		</h4>	
	<% end %>
</div>
