<h1><%= @client.first_name %></h1>
<h1><%= @client.last_name %></h1>

<%= link_to "Edit", edit_client_path(@client), class: 'btn btn-success' %>

<h3><%= @client.phone %></h3>
<h3><%= @client.email %></h3>
<h3><%= @client.salesforce_id %></h3>
<h3>
	<% if @action_plan %>
		<% @action_plan.each do |plan| %>
			<%= plan.description %>
		<% end %>
	<% end %>
</h3>

