<div id="left-bar">
  <div id="client-details">
    <h2>
			<%= "#{@client.first_name} #{@client.last_name}" %>
			<%= link_to "Back", clients_path, class: 'btn btn-default' %>
			<%= link_to "Edit", edit_client_path(@client), class: 'btn btn-success' %>
			<%= link_to "Delete", @client, method: :delete, class: 'btn btn-danger',
				data: { confirm: 'Are you sure you want to delete this client?' } %>
		</h2>
    <h3>Phone: <%= @client.phone %></h3>
    <h3>Email: <%= @client.email %></h3>
    <h3>Salesforce ID: <%= @client.salesforce_id %></h3>
		<h3>
			
		<h2>
			Action Plans: <%= link_to "New", new_client_action_plan_path(@client),
												class: 'btn btn-success' %>
		</h2>
			<% if @action_plan %>
				<ul class="list-group">
					<% @action_plan.each do |plan| %>
						<%= link_to "#{plan.description}", action_plan_path,
						class: "list-group-item" %>
					<% end %>
				<ul>
			<% end %>
		</h3>
  </div>



