<div class="form-style">

	<h2>Sign in</h2>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: "pure-form pure-form-aligned" }) do |f| %>

			  <div class='pure-control-group'>
			    <%= f.label :email %>
			    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
			  </div>

			  <div class='pure-control-group'>
			    <%= f.label :password %>
			    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
				    <div class='pure-control-group'>
				      <%= f.check_box :remember_me %>
				      <%= f.label :remember_me %>
				    </div>
			  <% end -%>
				<div class='actions'>
					<%= f.submit 'Sign in', class: 'pure-button pure-button-primary' %>
				</div>
		  <% end %>
</div>

<%= render "devise/shared/links" %>
	
