<h4 class="inline">
	<% if current_page?(action_plan_path) %>
		Step <%= format_counter(step_counter) %>: <%= step.description %>

	<%= step.due_by %>
	<%= step.complete %>
		<%= link_to edit_step_path(step) do %>
			<span class="icon-pencil-1"></span>
		<% end %>
	<% end %>
</h4>

<h5 class="inline add">
	<% if current_page?(action_plan_path) %>
		<%= link_to new_step_text_message_path(step) do %>
		Add messages to Step <%= format_counter(step_counter) %>
		<span class="icon-plus-circled"></span>
		<% end %>
	<% end %>
</h5>

<%= render step.text_messages %>

