<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
		<% if user_signed_in? %>
    	<div class="navbar-header">
        <%= link_to image_tag('medalogo.jpg'), clients_path %>
   	 	</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  	<ul class="nav navbar-nav navbar-right navbar-text">				
		  		<%= link_to "Hello, #{current_user.first_name}!", edit_user_registration_path(current_user) %>
					<span class="divider"> </span>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
				</ul>
			</div>
		<% else %>
	    <div class="navbar-header">
	      <%= image_tag('medalogo.jpg') %>
	    </div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right navbar-text">
					<%= link_to "about", '#' %>
					<%= link_to "contribute", '#' %>
					<%= link_to "press", '#' %>
			  	<%= link_to "sign in", new_user_session_path %>
				</ul>
			</div>
		<% end %>
  </div>
</nav>


