<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag('medalogo.jpg'), clients_path %>
    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right navbar-text">
		  	<% if current_user %>					
		  		<%= link_to "Hello, #{current_user.first_name}!", edit_user_registration_path(current_user) %>
					<span class="divider">|</span>
					<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
		   	<% else %>
		      <%= link_to "Sign In", new_user_session_path, :onclick => 'dosomething();' %> or 
		      <%= link_to "Sign Up", new_user_registration_path %>
		  	<% end %>
			</ul>
		</div>
		
  </div>
</nav>


